/* start global style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global style */

/* start nav header*/
.container .nav {
    background-color: #E7ECEF;
    color: #274C77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;
}

.container .nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container .nav ul li {
    cursor: pointer;
    font-size: 18px;
    color: #8B8C89;
    transition: 0.3s;
}

.container .nav ul li.active {
    font-weight: bold;
    color: #274C77;
}

.container .nav ul li.logo {
    font-weight: 900;
    font-size: 24px;
    color: #274C77;
    cursor: auto;
    user-select: none;
    position: relative;
    padding-right: 20px;
}

.container .nav ul li.logo::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #274C77;
    top: 0;
    right: 0;
}

.container .nav .sign-btn {
    display: flex;
    gap: 10px;
}

.container .nav .sign-btn div {
    border: 2px solid #274C77;
    padding: 6px 12px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
}

.container .nav .sign-btn div:hover,
.container .nav .sign-btn div.active {
    background-color: #274C77;
    color: #E7ECEF;
}

@media (max-width:767px) {
    .container .nav {
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
        gap: 15px;
    }
}

/* end nav header*/